body{
    margin: 0% 10%;
}
#title{
    margin: 2% 20% !important;
}
.usp{
    font-weight: bold;
}
.btnNewTask, .btnNewTask:hover, .btnNewTask:active{
    background-color: #008CBA;
}
.task{
    border-style: solid;
    border-width: 2px;
}
.task>.row>.col-md-3{
    text-align: right;
}